.card{
    border: 0.2px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container{
    padding: 2px 8px;
}
.buttonBlock{
    display: block;
    width: 100%;
    background-color: rgba(8, 201, 201, 0.911);
    color: white;
    border:0.5px solid rgba(0, 255, 255, 0.548);
    border-color: rgba(0, 255, 255, 0.548);
    text-align: center;
    padding: 8px 12px;
}
.buttonBlock:hover{
    background-color: white;
    color: rgba(0, 255, 255, 0.548);
}