.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    
}
.item1{
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: start;
}

.item2{
    grid-column: span 2;
}